{% extends "layout.njk" %}

{% block head %}
    <title>Sem Permissão</title>
    <link rel="stylesheet" href="/sale.css"/>
{% endblock %}

{% block content %}
    <div class="content">
      <p>VOCÊ NÃO TEM PERMISSÃO PARA ACESSAR ESSA PÁGINA</p>
    </div>
{% endblock %}        

        


