{% extends "layout.njk" %}

    {% block head %}
        <title>Cart</title>
        <link rel="stylesheet" href="/cart.css"/>
    {% endblock %}

    {% block content %}
        <div class="content">
            <h3>Caixa</h3>
            
            <div class="search">
                <form action="/cart/add-one-barcode" method="post" class="barcode">
                    <input class="form-control" type="text" placeholder="Código do produto" name="searchBarcode" value="{{searchBarcode}}" autofocus/>
                </form>

                <form action="/cart" method="post" >
                    <input class="form-control" type="text" placeholder="Nome do produto" name="nome" />
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                </form>
            </div>

            <table class="table table-striped table-hover">
                <tr>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Ação</th>
                </tr>
                {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.formattedSalePrice }}</td>
                            <form action="/cart/add-one/{{product._id}}" method="post">
                                <td>
                                    <input style="width: 100px" class="form-control" type="text" placeholder="Quantidade" name="quantity" />
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-primary" onclick="(function(){
                                    document.location.reload(true);
                                    })()">Adicionar</button>
                                </td>
                            </form>
                        </tr>
                {% endfor %}
            </table>

            <div class="items">
                {% for item in cart.items %}
                    <div class="item">
                        <a href="#">
                            <span class="title">{{item.product.name}}</span>
                        </a>

                        <span class="quantity">QTD: {{item.quantity}}</span>
                        
                        {% if item.product._id == "61d99adc1b51350e9cf7db67" %}
                            <form action="/cart/add-one/{{item.product._id}}" method="post">
                                <div class="descount">
                                    <input type="text" placeholder="Valor" name="addValue"/>
                                </div>
                            </form>
                        {% endif %}

                        <span class="price">Valor: {{item.formattedPrice}}</span>

                        <div class="quantity-control">
                            {% if item.product._id != "61d99adc1b51350e9cf7db67" %}
                                <form action="/cart/remove-one/{{item.product._id}}" method="post">
                                    <button class="remove"> <i class="bi bi-clipboard-minus"></i> </button>
                                </form>

                                <form action="/cart/add-one/{{item.product._id}}" method="post">
                                    <button type="submit"> <i class="bi bi-clipboard-plus"></i> </button>
                                </form>
                            {% endif %}
                        </div>

                        <form class="trash" action="/cart/delete/{{item.product._id}}" method="POST">
                            <button class="delete"> <i class="bi bi-x-octagon-fill"></i> </button>
                        </form>
                    </div>
                    
                {% endfor %}
                <div class="box-produtctsVaried" >
                    <div class="box-produtctsVaried-content">
                        <span>Produtos Variados</span>
                        {% for item in cart.productsVariedValues %}
                            {% if item.value < 0  or item.value > 0 %}
                                    <div class="item-value-product-varied">
                                        <div class="box-content">
                                            <div class="content">
                                                <span class="title">{{item.formattedValue}}</span>

                                            </div>
                                        </div>
                                    </div>
                            {% endif %}
                        {% endfor %}
                        <span class="totalProductsVaried">Total: {{cart.totalproductsVariedFormated}}</span>
                    </div>
                </div>


                <div class="total">
                    <p>Total:</p> 
                    <span>{{cart.total.formattedPrice}}</span>
                </div>

                    <form action="/cart" method="POST">
                        <div class="change">
                            <input type="text" placeholder="TOTAL PAGO" value="{{change}}" name="change"/>
                            
                            <div class="totalChange">
                                <p>Troco:</p> 
                                <span>{{changeFormate}}</span>
                            </div>
                        </div>
                    </form>

                     <form  action="/cart/add-one/{{idVariedProduct}}" method="POST">
                        <button class="btn btn-secondary mt-3"> Produtos Variados </button>
                    </form>
                
                    <form  action="/sales" method="POST">

                        <div class="descount">
                            <input type="text" placeholder="" name="descount"/>
                        </div>

                        <div class="finish">
                        <button class="btn btn-success"> Finalizar Venda </button>
                    </form>
                            <form  action="/sales/deleteall?_method=DELETE" method="POST">
                                <button class="btn btn-danger"> Cancelar Venda </button>
                            </form>
                        </div>
            </div>

        </div>
    {% endblock %}

    <script>
        function teste() {
            {# document.location.reload(true); #}
            alert("teste");
        }
    </script>

{# id produto variado producao 61d99adc1b51350e9cf7db67 #}


       



